* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #ebebeb;
    --main: #2E2E2E;
    --inner-shadow: 25px 25px 20px 2px #C7C7C7 inset, -20px -20px 30px 2px rgba(255, 255, 255, 0.80) inset;
    --outer-shadow: 18px 18px 40px 0px #C7C7C7, -10px -10px 30px 5px #FFF;
    --shadow: 5px 5px 10px 0px #969696;
    scroll-behavior: smooth;
}


@keyframes startup {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes pullout {
    0% {transform: translateX(200px);}
    20% {transform: translateX(0);}
    80% {transform: translateX(0);}
    to {transform: translateX(200px);}
}

body {
    background-color: var(--background);
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: var(--main);
}

#presentation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 3;

    & #gekko {
        visibility: hidden;
        height: 0;
        width: 0;
        display: none;
    }

    .welcome {
        opacity: 0;
        font-weight: 300;
        font-size: 25px;
        padding: 50px;
        animation: startup 1.5s ease-out 0.7s;
        animation-fill-mode: forwards;
        transition: 0.5s;
    }

    & label {
        width: 130px;
        margin: 50px;
        aspect-ratio: 1/1;
        opacity: 0;
        border-radius: 100%;
        background-color: var(--background);
        order: 2;
        cursor: pointer;
        box-shadow: var(--outer-shadow);
        animation: startup 1.5s ease-out 0.2s;
        animation-fill-mode: forwards;
        transition: 0.6s ease-out;
    }

    & input:checked ~ :is(label, .welcome) {
        visibility: hidden;
    }
    & input:checked ~ label {
        box-shadow: none;
    }
    & input:checked ~ .welcome {
        color: var(--background);
    }
}

#presentation:has(input:checked) ~ #container > #entering {
    display: none;
}
#presentation:has(input:checked) ~ #container > #about {
    box-shadow: var(--inner-shadow);
}
#presentation:has(input:checked) ~ #container :is(.about-text, #menu) {
    opacity: 1;
}
#presentation:has(input:checked) ~ #container #menu .menu-links {
    animation: pullout 3s 1s;
}
    
#container {
    width: 100vw;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-rows: 100vh 110vh repeat(3, 100vh) 110vh repeat(4, 100vh) 80vh;
    grid-template-columns: 100%;
    place-items: center;  

    #entering {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background);
        z-index: 2;
    }

    #menu {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 360px;
        width: 150px;
        justify-self: end;
        align-self: center;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        row-gap: 1px;
        overflow-x: hidden;
        position: sticky;
        top: calc(50% - 180px);
        opacity: 0;
        transition: 0.6s ease-out;

        .rect {
            width: 15px;
            height: 100%;
            grid-column: 1/2;
            background-color: black;
            justify-self: end;
            transform: translateX(3px);
            transition: 0.6s;
        }
        .rect1 {
            grid-row: 1/2;
            transform: translateX(0);
        }
        .rect2 {
            grid-row: 2/3;
        }
        .rect3 {
            grid-row: 3/4;
        }
        .rect4 {
            grid-row: 4/5;
        }

        .menu-links {
            width: fit-content;
            height: fit-content;
            grid-column: 1/2;
            padding: 2px 5px;
            background-color: var(--main);
            text-decoration: none;
            font-weight: 300;
            font-size: 23px;
            color: var(--background);
            place-self: center;
            transform: translateX(200px);
            transition: 1s;
        }
        .link1 {
            grid-row: 1/2;
        }
        .link2 {
            grid-row: 2/3;
        }
        .link3 {
            grid-row: 3/4;
        }
        .link4 {
            grid-row: 4/5;
        }
    }
    #menu:hover .menu-links {
        transform: translateX(0);
    }
    
    .panels {
        width: 88%;
        grid-column: 1/2;
        background-color: var(--background);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #about {
        grid-row: 1/2;
        width: 65%;
        max-width: 950px;
        min-height: 410px;
        box-shadow: none;
        transition: 1s;

        .about-text {
            width: 75%;
            padding: 25px 0;
            font-weight: 400;
            font-size: 23px;
            line-height: calc(23px * 1.4);
            opacity: 0;
            transition: 1s 1s;
        }
    }

    #road {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 50%;
        height: auto;
        margin-bottom: 5%;
        opacity: 0.8;
        z-index: -1;
    }

    #road-text {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 80%;
        margin-bottom: 6%;
        opacity: 0;
        transition: 2s 0.3s;
    }

    .projects {
        max-width: 1400px;
        padding: 70px 50px;
        box-shadow: var(--inner-shadow);
        align-items: center;
        gap: 30px;

        > a {
            width: 50%;
            min-width: 400px;
            aspect-ratio: 475/298;
            box-shadow: var(--shadow);
            background-size: contain;
            transition: 0.2s;
        }
        > a:hover {
            filter: brightness(0.6);
        }
    }
    .project1 {
        grid-row: 3/4;

        > a {
            background-image: url(materials/ancient\ greeks.jpg);
        }
    }
    .project2 {
        grid-row: 4/5;

        > a {
            background-image: url(materials/composer.jpg);
        }
    }
    .project3 {
        grid-row: 5/6;

        > a {
            background-image: url(materials/DC.jpg);
        }
    }

    .projects-description {
        width: 45%;
        min-width: 500px;
        
        > a {
            text-decoration: none;
            display: block;
            margin: auto;
            margin-bottom: 27px;
            width: fit-content;
            padding: 5px 10px;
            color: var(--background);
            background-color: var(--main);
            font-weight: 100;
            font-size: 27px;
        }

        .projects-description-text {
            font-weight: 300;
            font-size: 23px;
        }
    }

    #flexible-design {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 90%;
        margin-top: 5%;
    }

    #ultrawide {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 78.35%;
        aspect-ratio: 69/19;
        margin-top: 5.03%;
        overflow: hidden;

        > img {
            width: 100%;
            transform: translateY(100%);
            transition: 1s cubic-bezier(0.34, 0.17, 0.22, 0.98) 0.5s;
        }
    }

    #mobile {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 9.703%;
        margin-top: 27%;
        justify-self: end;
        margin-right: 22.7%;
        z-index: 1;
    }

    #mobile-image {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 8.8%;
        border-radius: 4%;
        aspect-ratio: 365/753;
        margin-top: 25%;
        justify-self: end;
        margin-right: 23.15%;
        overflow: hidden;
        z-index: 1;
        background-color: var(--background);

        > img {
            width: 100%;
            aspect-ratio: 365/760;
            transform: translateY(100%);
            transition: 1s cubic-bezier(0.34, 0.17, 0.22, 0.98) 0.3s;
        }
    }

    .method {
        height: 70%;
        box-shadow: var(--outer-shadow);
        grid-column: 1/2;
        justify-content: space-around;
        padding: 50px;

        .method-text {
            font-weight: 300;
            font-size: 27px;
            width: 50%;
            padding: 10px 50px;
        }
    }
    .method1 {
        grid-row: 7/8;

        > img {
            max-width: 430px;
            width: 50%;
            min-width: 250px;
        }
    }
    .method2 {
        grid-row: 8/9;

        > img {
            max-width: 400px;
            width: 50%;
            min-width: 300px;
            padding: 10px 50px;
        }
    }
    .method3 {
        grid-row: 9/10;
        height: auto;
        justify-content: space-evenly;

        > img {
            max-width: 50%;
            min-width: 250px;
        }
    }

    #what-i-like {
        grid-row: 10/11;
        grid-column: 1/2;
        width: 60%;
        
        #grid {
            width: 100%;
            transform: translateX(-3%);
        }
    
        .method-text-last {
            width: fit-content;
            display: block;
            margin: auto;
            margin-bottom: 50px;
            font-weight: 300;
            font-size: 27px;
        }
    }

    .contact {
        grid-row: 11/12;
        grid-column: 1/2;
        width: 70%;
        font-weight: 400;
        font-size: 27px;
        line-height: 140%;
        margin-bottom: 10%;

        > a {
            text-decoration: none;
            color: var(--main);
            width: max-content;
        }
    }
}

@media only screen and (max-width: 980px) {
    #container {
        grid-template-rows: repeat(10, minmax(100svh, max-content)) 80svh;

        #about {
            width: 80%;

            .about-text {
                font-size: 21px;
            }
        }

        #road {
            width: 80%;
            margin-bottom: 0;
        }

        #road-text {
            width: 90%;
            margin-bottom: 0;
        }

        .projects {
            > a {
                width: 70%;
            }
            > a:hover {
                filter: none;
            }
        }

        .projects-description {
            width: 90%;
            min-width: 0px;
            
            > a {
                margin-bottom: 25px;
                font-size: 25px;
            }
    
            .projects-description-text {
                font-size: 21px;
            }
        }

        .method {
            gap: 20px;
        }

        .method-text {
            font-size: 25px;
            min-width: 100%;
        }

        .method1 {    
            > img {
                max-width: 400px;
                width: 50%;
            }
        }

        #what-i-like {
            width: 70%;
            
            .method-text-last {
                font-size: 25px;
            }
        }

        .contact {
            font-size: 25px;
        }

    }
}
    