* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
    --white: #F4F4F4;
    --white-semitransparent: hsla(0, 0%, 96%, 0.9);
    --black: #343C3F;
    --black-semitransparent: hsla(196, 10%, 23%, 0.8);
    --blue: #0083B4;
    --corner-large: 7px;
    --corner-small: 2px;
    --neumorphic-inside: 18px 18px 20px 2px hsla(0, 0%, 0%, 0.158) inset, -18px -18px 20px 2px #ffffff inset;
    --neumorphic-outside: -10px -10px 30px 5px #FFF, 18px 18px 40px 0px #C7C7C7;
    --frame-shadow: 4px 5px 10px 0px #969696;
    --transition-short: 0.1s ease-out;
    --transition-long: 0.2s ease-out;
    --transition-verylong: 1s;
    --long-delay: 200ms;
}

/* TYPOGRAPHY */

h1, h2, h3, p, button, .number, figcaption {
	font-family: AntonaRegular;
    font-weight: 400;
    color: var(--black);
}

h1 {
    font-size: 30px;
    line-height: 35px;
}
h2 {
    font-size: 25px;
    line-height: 33px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 20px;
    line-height: 27px;
}
button {
    font-size: 21px;
    line-height: 21px;
}
.number {
    font-size: 60px;
    line-height: 1;
    font-variant-numeric: lining-nums tabular-nums;
}
figcaption {
    font-size: 16px;
}

/* ANIMATIONS */

@keyframes text-colour {
    from {color: var(--white);}
    to {color: var(--black);}
}

@keyframes startup {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* BODY */

body {
    background-color: var(--white);
    overflow: hidden;
    scroll-behavior: smooth;
}
    /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


/* START */

#presentation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1vmin;
    z-index: 3;

    #gekko {
        visibility: hidden;
        height: 0;
        width: 0;
        display: none;
    }

    h2 {
        opacity: 0;
        font-weight: 300;
        font-size: 25px;
        padding: 50px;
        text-align: center;
        animation: startup 1.5s ease-out 0.7s;
        animation-fill-mode: forwards;
        transition: 0.5s;
    }

    label {
        width: 130px;
        margin: 50px;
        aspect-ratio: 1/1;
        opacity: 0;
        border-radius: 100%;
        background-color: var(--white);
        order: 2;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: var(--neumorphic-outside);
        animation: startup 1.5s ease-out 0.2s;
        animation-fill-mode: forwards;
        transition: 0.6s ease-out;
    }
    label:focus {
        outline: none !important;
    }

    input:checked ~ :is(label, h2) {
        visibility: hidden;
    }
    input:checked ~ label {
        box-shadow: none;
    }
    input:checked ~ h2 {
        color: var(--white);
    }
}
#presentation:has(input:checked) ~ #main-container > #entering {
    display: none;
}
#presentation:has(input:checked) ~ #main-container > .viewport-container > .inside-box {
    box-shadow: var(--neumorphic-inside);
}
#presentation:has(input:checked) ~ #main-container :is(#intro-text, #menu) {
    opacity: 1;
}

/* MAIN CONTAINER */

#main-container {
    display: flex;
    height: 100vh;
    max-height: 100%;
    width: max-content;
    align-items: center;
    overflow: hidden;

    #entering {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        z-index: 2;
    }

    /* MENU */

    #menu {
        position: fixed;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(100vh - 60px);
        gap: 12px;
        opacity: 0;
        transition: var(--transition-verylong);
        transition-delay: 1s;

        #menu-buttons {
            display: flex;
            gap: 30px;
            width: max-content;

            button {
                border: none;
                cursor: pointer;
                background-color: var(--black);
                color: var(--white);
                padding: 10px 10px 5px 10px;
                border-radius: var(--corner-large);
                transition: var(--transition-short);

                &:hover {
                    background-color: var(--black-semitransparent);
                }
            }
        }

        #line-container {
            width: 370px;
            transform: translateX(-5px);

            > div {
                height: 3px;
                width: 100%;
                background-color: var(--black);
            }

            #circle {
                height: 15px;
                width: 15px;
                border-radius: 100%;
                background-color: var(--black);
                border: 3px solid var(--white);
                transform: translateY(-9px);
                margin-left: -3px;
                transition: var(--transition-verylong);
            }
        }
    }

    /* INTRO */

    .viewport-container {
        display: flex;
        height: 100%;
        width: 100vw;
        align-items: center;
        justify-content: center;
        
        .inside-box {
            background-color: var(--white);
            border-radius: var(--corner-large);
            box-shadow: none;
            width: 67vw;
            max-width: 1200px;
            height: 60vh;
            max-height: 600px;
            min-height: 500px;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 50px;
            transition: var(--transition-verylong);

            #intro-text {
                text-align: center;
                max-width: 630px;
                opacity: 0;
                transition: var(--transition-verylong) var(--transition-verylong);
            }
        }
    }

    /* CREDENTIALS */

    #credentials-container {
        display: flex;
        align-items: center;
        gap: 80px;

        .semi-container {
            display: flex;
            gap: 70px;

            .stats-container {
                display: flex;
                align-items: flex-start;
                gap: 20px;
                /* opacity: 0;
                animation: startup 2s; */

                .stats-text {
                    display: flex;
                    flex-direction: column;
                    width: max-content;

                    h3 {
                        margin-left: 4px;
                    }
                }

                img {
                    margin-top: 4px;
                }
            }

            .document-container {
                display: flex;
                flex-direction: column;
                gap: 12px;

                a {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    color: var(--black);
                }

                a:hover, a:hover :is(h3, svg path) {
                    color: var(--blue);
                    fill: var(--blue);
                    transition: var(--transition-short);
                }

                .document {
                    width: 252px;
                    height: 178px;
                    border-radius: var(--corner-small);

                }
                .document1 {
                    background-image: url("materials new/AbschlussdokumentLehrgaenge_LUX_2_SS2024_page-0001.jpg");
                    background-size: cover;
                    background-position: 50%;
                    border: 1px solid var(--black);
                }
                .document2 {
                    background-image: url("materials new/Certificate_210384_UXFL-EU_Vulpoiu_01_01_3000_page-0001.jpg");
                    background-size: cover;
                }
            }
        }
    }

    /* PROJECTS */

    #projects-container {
        display: flex;
        gap: 70px;
        padding-left: 250px;
        padding-right: 100px;

        .project:nth-of-type(1) button {
            background-image: url("materials new/EDD.jpg");
        }
        .project:nth-of-type(2) button {
            background-image: url("materials new/Labor.jpg");
        }
        .project:nth-of-type(3) button {
            background-image: url("materials new/Ancient\ Greeks.jpg");
        }
        .project:nth-of-type(4) button {
            background-image: url("materials new/Scoala.jpg");
        }

        .project {
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            row-gap: 25px;

            .project-description {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                height: 438px;
                aspect-ratio: 1000/626;
                padding: 70px;
                box-shadow: var(--neumorphic-inside);
                border-radius: var(--corner-large);
                visibility: hidden;
                opacity: 0;
                z-index: 1;

                p {
                    color: var(--white);
                    width: 100%;
                }
            }

            button {
                grid-column: 1/2;
                grid-row: 1/2;
                background-color: var(--white);
                background-size: cover;
                background-blend-mode: multiply;
                border: none;
                cursor: pointer;
                height: 438px;
                aspect-ratio: 1000/626;
                padding: 0;
                color: transparent;
                border-radius: var(--corner-small);
                box-shadow: var(--frame-shadow);
                transition: var(--transition-long);
            }
            button:hover {
                color: var(--white);
                background-color: #858585;
            }
            button:focus {
                opacity: 0;     
            }
            button:focus + .project-description {
                opacity: 1;
                visibility: visible;
                transition: var(--transition-verylong);
                transition-delay: var(--long-delay);
            }
            button:focus + .project-description > p {
                animation-name: text-colour;
                animation-duration: var(--transition-verylong);
                animation-delay: calc(var(--long-delay) * 2.5);
                animation-fill-mode: forwards;
            }

            a {
                grid-column: 1/2;
                grid-row: 2/3;
                display: flex;
                width: fit-content;
                gap: 10px;
                color: var(--black);
                transition: var(--transition-short);

                :is(h2, svg path) {
                    transition: var(--transition-short);
                }
            }
            a:hover, a:hover :is(h2, svg path) {
                color: var(--blue);
                fill: var(--blue);
            }
        }
    }

    /* SKILLS */

    .skills-container {
        display: flex;
        height: 80vh;
        max-height: 900px;
        width: max-content;
        border-radius: var(--corner-large);
        box-shadow: var(--neumorphic-outside);
        align-items: center;
        padding: 50px 50px 50px 100px;
        margin-left: 150px;
        gap: 150px;

        .skills-text {
            width: 700px;

            h1 {
                margin-bottom: 50px;
            }
        }

        figure {
            height: 100%;
            max-height: 800px;
            width: fit-content;

            video, img {
                height: 100%;
                width: auto;
            }

            figcaption {
                transform: translateY(-40px);
                width: max-content;
                padding: 5px 10px 3px 10px;
                margin-left: 10px;
                border-radius: var(--corner-small);
                opacity: 0;
                visibility: hidden;
                transition: var(--transition-long);
            }

            #caption1 {
                background-color: var(--white-semitransparent);
                color: var(--black);
                backdrop-filter: blur(1px);
            }
            #caption2 {
                background-color: var(--white-semitransparent);
                color: var(--black);
                backdrop-filter: blur(1px);
            }
            #caption3 {
                background-color: var(--black-semitransparent);
                color: var(--white);
                backdrop-filter: blur(1px);
            }
            #caption4 {
                background-color: var(--black-semitransparent);
                color: var(--white);
                backdrop-filter: blur(1px);
            }
            #caption5 {
                background-color: var(--black-semitransparent);
                color: var(--white);
                backdrop-filter: blur(1px);
            }
        }
        figure:hover > figcaption {
            visibility: visible;
            opacity: 1;
        }

        #image-container {
            height: 100%;
            max-height: 1000px;
            display: flex;
            gap: 50px;
        }
    }

    /* CONTACT */

    #contact {
        max-width: 1920px;

        .inside-box {

            h2 {
                text-align: center;
            }
            
            h2 > a {
                color: var(--black);
                transition: var(--transition-short);
    
                &:hover {
                    color: var(--blue);
                }
            }
    
            div {
                display: flex;
                gap: 40px;
                align-items: center;
    
                a {
                    aspect-ratio: 1;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                a:first-of-type {
                    width: 30px;
                    background-image: url("materials new/LinkedIn.svg");
                }
                a:nth-of-type(2) {
                    width: 32px;
                    background-image: url("materials new/github.svg");
                }
                a:last-of-type {
                    width: 32px;
                    background-image: url("materials new/Pinterest.png");
                }
                
            }
        }
    }
}


/* MEDIA QUERIES */

@media (max-width: 650px) {

    /* TYPOGRAPHY */

    h1 {
        font-size: 27px;
        line-height: 30px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 17px;
        line-height: 23px;
    }
    button {
        font-size: 18px;
        line-height: 18px;
    }
    .number {
        font-size: 50px;
    }
    
    #presentation {
        height: 100svh;
        
        h2 {
            font-size: 20px;
            line-height: 25px;
        }
    }

    /* MAIN CONTAINER */
    
    #main-container {
        flex-direction: column;
        height: max-content;
        max-height: max-content;
        width: 100vw;
        overflow: hidden;

        /* MENU */

        #menu {
            width: 90vw;
            margin-top: 10px;
    
            #menu-buttons {
                gap: 10px;
                width: 100%;
                justify-content: center;
            }
    
            #line-container {
                display: none;
            }
        }

        /* INTRO */

        .viewport-container {
            height: 100svh;
            width: 100vw;

            .inside-box {
                width: 90vw;
                max-width: 1200px;
                height: 60vh;
                min-height: 400px;
                max-height: 500px;
                padding: 30px;

                #intro-text {
                    text-align: left;
                }
            }
        }

        /* CREDENTIALS */

        #credentials-container {
            flex-direction: column;
            gap: 70px;

            .semi-container {
                flex-direction: column;


                .stats-container {
                    width: 232px;

                    img {
                        margin-top: 0px;
                    }

                    #books {
                        width: 89px;
                    }
                }
            }
            .semi-container:last-of-type {
                gap: 60px;
            }
        }

        /* PROJECTS */

        #projects-container {
            flex-direction: column;
            gap: 50px;
            padding-left: 0px;
            padding-top: 100px;
            padding-right: 0px;
            padding-bottom: 0px;
        
            .project {
                height: max-content;
                row-gap: 25px;
            
                .project-description {
                    width: 90vw;
                    height: calc(90vw * 626 / 1000);
                    padding: 30px;
                }
            
                button {
                    height: auto;
                    width: 90vw;
                    aspect-ratio: 1000/626;
                }
                button:focus + .project-description {
                    height: auto;
                    transition: var(--transition-long);
                }

                a {
                    flex-wrap: wrap;
                    width: 90vw;
                }
            }
        }

        /* SKILLS */

        .skills-container {
            flex-direction: column;
            height: max-content;
            max-height: max-content;
            width: 90vw;
            align-items: flex-start;
            padding: 60px 30px 30px 30px;
            margin-left: 0px;
            margin-top: 100px;
            gap: 60px;

            .skills-text {
                width: 100%;

                h1 {
                    margin-bottom: 30px;
                }
            }

            figure {
                height: auto;
                max-height: auto;
                width: 100%;

                video, img {
                    height: auto;
                    width: 100%;
                }

                figcaption, #caption1, #caption2, #caption3, #caption4, #caption5 {
                    width: 100%;
                    background-color: var(--white);
                    color: var(--black);
                    visibility: visible;
                    opacity: 1;
                    transform: none;
                    margin-left: 0;
                    margin-top: 5px;
                    padding: 0;
                    z-index: 0;
                    backdrop-filter: none;
                } 
            }

            #image-container {
                height: auto;
                flex-direction: column;
                gap: 30px;
            }
        }

        /* CONTACT */

        #contact {
            max-height: 800px;
        }
    }

}



@media (max-height: 650px) {

    /* TYPOGRAPHY */

    h1 {
        font-size: 27px;
        line-height: 30px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 17px;
        line-height: 23px;
    }
    button {
        font-size: 18px;
        line-height: 18px;
    }
    .number {
        font-size: 50px;
    }
}